@model List<Review>

@if (!Model.Any())
{
    <p>Nema recenzija za ovaj smještaj.</p>
}
else
{
    <ul class="list-group">
        @foreach (var review in Model)
        {
            <li class="list-group-item">
                <strong>@review.Title</strong> - @review.Rating/5<br />
                @review.Content<br />
                <small><i>Objavio: @review.User?.UserName</i></small>
            </li>
        }
    </ul>
}