@model Rad.Model.Review

@{
    ViewData["Title"] = "Uređivanje recenzija";
}


<head>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
</head>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Popis recenzija</a></li>
        <li class="breadcrumb-item active" aria-current="page">Uređivanje recenzija</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="ID" />
            <partial name="_CreateEdit" />
        </form>
    </div>
</div>