@model Rad.Model.Reservation

@{
    ViewData["Title"] = "Uređivanje rezervacija";
}


<head>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
</head>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Popis rezervacija</a></li>
        <li class="breadcrumb-item active" aria-current="page">Uređivanje rezervacija</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="ID" />
            <partial name="_CreateEdit" />
        </form>
    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script id="search-js"
            defer
            src="https://api.mapbox.com/search-js/v1.0.0-beta.22/web.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.hr.min.js"></script>
    <script>
        $(function () {
            $('.inp-datepicker').datepicker({
                format: $('.inp-datepicker').data('format'),
                autoclose: true,
                todayHighlight: true,
                language: 'hr'
            });
        });
    </script>
}