@{
    ViewData["Title"] = "Naslovna stranica";
}

<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1 class="display-4 fw-bold">Dobrodošli na GreenHouse</h1>
            <p class="lead mt-3">
                Pregledajte i rezervirajte smještaj u prirodi brzo i jednostavno. Pronađite idealan smještaj prema vašim zahtjevima! Obronci Bilogore vas čekaju! <br />
                Objekt GreenHouse, Bed&Breakfast, Bazen izdvojen nekoliko minuta hoda u gradu 'Ðurđevac' nudi smještaj koji sadrži sezonski vanjski bazen, besplatan WiFi i besplatno privatno parkiralište za goste koji dolaze vozilom.<br />

                Gosti objekta GreenHouse, Bed&Breakfast, Bazen izdvojen nekoliko minuta hoda na raspolaganju imaju terasu, pogled na vrt, prostor za sjedenje, TV ravnog ekrana, potpuno opremljenu kuhinju s hladnjakom i štednjakom te privatnu kupaonicu s tušem i besplatnim toaletnim priborom.<br />

                Švedski stol, kontinentalni doručak ili vegetarijanski doručak poslužuje se u objektu.<br />

                U ovom je objektu na raspolaganju i vrt koji sadrži roštilj, a u okolici gosti mogu uživati u vožnji biciklom.<br />
            </p>
            <a class="btn btn-primary btn-lg mt-3" href="/Accomodation" style="background-color: #658c6e">Pregled smještaja</a>
        </div>
        <div class="col-md-6 text-center">
            <img src="https://prod5.assets-cdn.io/event/8040/assets/8347897816-ddbb721dab.jpg" class="img-fluid rounded shadow" alt="Smještaj">
        </div>
    </div>

    <hr class="my-5" />

    <div class="row text-center">
        <div class="col-md-4">
            <h4 class="mt-3">Veliki izbor smještaja</h4>
            <p>Pronađite smještaj na obroncima Bilogore i doživite prirodu u punom svjetlu.</p>
        </div>
        <div class="col-md-4">
            <h4 class="mt-3">Jednostavna i brza rezervacija</h4>
            <p>Brzo i jednostavno rezervirajte slobodan termin za željeni smještaj.</p>
        </div>
        <div class="col-md-4">
            <h4 class="mt-3">Iskrene recenzije korisnika</h4>
            <p>Uvjerite se da su ostali gosti bili zadovoljni!</p>
        </div>
    </div>
</div>
